{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
	<h1>Profiles by Query Type</h1>
</f:section>

<f:section name="content">
	<f:link.action action="show" controller="Profile" class="btn btn-primary" arguments="{uniqueIdentifier: uniqueIdentifier}">Back</f:link.action>
	<table class="table">
		<thead>
			<tr>
				<th>ID/Order</th>
				<th>Query</th>
				<th>Not using index</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{profilings}" as="profile">
				<tr>
					<td>{profile.query_id}</td>
					<td>{profile.query}...</td>
					<td>{profile.not_using_index}</td>
					<td><a href="{be:moduleLink(route: 'Profile', arguments: '{action: \'profileInfo\', uniqueIdentifier: uniqueIdentifier, queryType: queryType, uid: profile.uid}')}">{profile.duration}</a></td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>