{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
	<h1>Show profiles by selected request</h1>
</f:section>

<f:section name="content">
	<f:link.action action="list" controller="Profile" class="btn btn-primary">Back</f:link.action>
	<div class="panel panel-default">
		<div class="panel-heading">GET Request</div>
		<div class="panel-body"><code>{profileTypes.0.request}</code></div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Query type</th>
				<th>Amount of queries</th>
				<th>Summed Duration</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{profileTypes}" as="profile">
				<tr>
					<td>{profile.query_type}</td>
					<td>{profile.amount}</td>
					<td><a href="{be:moduleLink(route: 'Profile', arguments: '{action: \'queryType\', uniqueIdentifier: profile.unique_call_identifier, queryType: profile.query_type}')}">{profile.duration}</a></td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>
